
body {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.container-fluid {
    padding: 20px;
}

.col-lg-5 {
    border-right: 1px solid black;
    height: 90%;
}

h1 {
    text-align: center;
    padding: 10px;
    content: center;
}

#ap1 {
    grid-area: api1;
}

#ap2 {
    grid-area: api2;
}

.card {
    overflow: auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    text-align: center;
    justify-content: center;
}
