
body {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.container-fluid {
    padding: 20px;
}

.col-lg-5 {
    border-right: 1px solid black;
    height: 90%;
}

h1 {
    text-align: center;
    padding: 10px;
    content: center;
}

#ap1 {
    grid-area: api1;
}

#ap2 {
    grid-area: api2;
}

.card {
    overflow: auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    text-align: center;
    justify-content: center;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
    /* Adjustments for small screens */
    .navbar .navbar-brand {
        font-size: 24px;
        width:50%;
        justify-content: center;
    }

    
    .navbar .nav-item {
        font-size: 14px;
        padding-right: 8px;
        justify-content: center;
    }
}
.navbar-collapse{
    justify-content: center;
}

@media screen and (max-width: 576px) {
    /* Adjustments for extra small screens */
    .navbar .navbar-brand {
        font-size: 20px;
        padding-left: 5px;
        width: fit-content;
        justify-content: center;
    }

    .navbar .nav-item {
        font-size: 12px;
        padding-right: 4px;
        width: fit-content;
        justify-content: center;
    }
    .navbar-collapse{
        justify-content: center;
    }
    .nav-item{
        justify-content: left;
    }
}
